.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body {
    margin-left: 60px;
}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel-heading {

}

.panel-body {
    overflow-y: scroll;
    height: 500px;
}

#progressBar {
    width: 100%;
    float: left;
    margin-top: 50%;
}

#line {
    border-style: solid;
    position: relative;
    border-width: 1px;
    width: 70%;
    margin-left: 18%;
    top: 50%;
}

#square {

}