.chat {
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li {
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}

.chat li.left .chat-body {

}

.chat li.right .chat-body {
    margin-right: 60px;
}

.chat li .chat-body p {
    margin: 0;
    color: #777777;
}

.panel-heading {

}

.panel-body {
    overflow-y: scroll;
    height: 500px;
}

#progressBar {
    width: 100%;
}

#line {
    position: absolute;
    top: 61%;
    border: 1px solid black;
    width: 100%;
    z-index: 0;
}

#square {
    position: absolute;
    top: 48%;
    z-index: 0;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background: black;
}