<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="CS 313 Final Project">
    <meta name="author" content="Sam McGrath">

    <title>Chat and Watch YouTube!</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="./stylesheets/main.css">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Watch YouTube with Friends!</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <% if (!sessionVar) { %>    
                        <li class="nav-item active">
                            <a class="nav-link" href="">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/registration">Sign up</a>
                        </li>
                    <% } else { %>
                        <li class='nav-item active'>
                            <a class='nav-link'>Welcome, <p id='usernameWhole' style="display:inline"><%= sessionVar %></p></a>
                        </li>
                        <li class="nav-item active">
                            <a class="nav-link" href="">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/login-signOut">Sign Out</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>

    <div class="container h-100" id="allChat">
        <div class="row align-items-center h-100">
            <div class="row">
                <div class="col-md-12 mt-5" style="pointer-events: none;" id="ytplayer">
                
                </div>
                <div class="col-md-12" id="ytPlayerIcon">
                    <div class="btn-group" style="display: flex;">
                        <button id="playVideoBtn" class="btn btn-outline-secondary mt-3 btn-lg"><i class="fas fa-play"></i></button>
                        <button id="stopVideoBtn" class="btn btn-outline-secondary mt-3 btn-lg"><i class="fas fa-pause"></i></button>
                        &nbsp;&nbsp;
                        <div class="col-md-9">
                            <div id="progressBar">
                                <div id="line"></div>
                                <div id="square"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 mt-5">
                        <div class="row float-left">
                            <div class="card">
                                <div class="card-body">
                                    <div class="input-group mt-4">
                                        <input type="text" class="form-control" id="videoLink" placeholder="Add a YouTube video!">&nbsp;&nbsp;
                                        <span class="input-group-btn">
                                            <button class="btn btn-secondary" id="addVideoBtn" type="button">Add!</button>
                                        </span>
                                    </div><br>
                                    <ul class="list-group" id="movieList">
                                        
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-5" id="partialChat">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <ul class="chat" id="chatroom">
                            <li>

                            </li>
                        </ul>
                    </div>
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="userInput" type="text" class="form-control input-sm" placeholder="Enter your message here" />
                            <input id="userNameChat" type="hidden" value="<%= sessionVar %>" />
                            <span class="input-group-btn">
                                <button id="chatButton" class="btn btn-secondary">
                                    Enter
                                </button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script> -->
    <script src="https://code.jquery.com/jquery-2.2.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/draggabilly@2/dist/draggabilly.pkgd.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        //expose the io object global
        var socket = io();
        const apiKey = 'AIzaSyC0ceLDZ-7tIf5Ba5SvqVI8gLYq-1rp7ks'; //restricted to only my website to use the YT api. nice try :)

        // Load the IFrame Player API code asynchronously.
        var tag = document.createElement('script');
        tag.src = "https://www.youtube.com/player_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // Replace the 'ytplayer' element with an <iframe> and
        // YouTube player after the API code downloads.
        var player;
        function onYouTubePlayerAPIReady() {
            player = new YT.Player('ytplayer', {
                height: '360',
                width: '640',
                videoId: 'dQw4w9WgXcQ',
                playerVars: {
                    controls: 0,
                    disablekb: 1,
                    rel: 0,
                },
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });
        }

        // 4. The API will call this function when the video player is ready.
        function onPlayerReady(event) {
            progressBar();
        }

        // 5. The API calls this function when the player's state changes.
        var done = false;
        function onPlayerStateChange(event) {}

        function playVideo() {
            player.playVideo();
        }

        function stopVideo() {
            player.pauseVideo();
        }

        function seekTo(time) {
            player.seekTo(time);
        }

        function progressBar() {
            let pg = $('#line');
            let sq = $('#square');

            setInterval(() => {
                //progress
                let frac = (player.getCurrentTime() / player.getDuration()) * 100

                sq.css('left', `${frac}%`);
            }, 250);
        }

        $('#playVideoBtn').click(e => {
            e.preventDefault();

            let videoData = {
                state: 'play',
                time: player.getCurrentTime()
            }

            socket.emit('video', videoData);
        });

        $('#stopVideoBtn').click(e => {
            e.preventDefault();

            let videoData = {
                state: 'pause',
                time: player.getCurrentTime()
            }

            socket.emit('video', videoData);
        });

        $('#addVideoBtn').click(e => {
            e.preventDefault();

            let videoLink = $('#videoLink').val();

            let rgx = /^(https?\:\/\/)?((www\.)?youtube\.com|youtu\.?be)\/.+$/g;

            if (rgx.test(videoLink)) {
                //we know it is a youtube link so let's grab the video id from the link and make an api call
                videoLink = youtube_parser(videoLink);

                //get info from the api
                $.get(`https://www.googleapis.com/youtube/v3/videos?id=${videoLink}&key=${apiKey}&part=snippet`, (data) => {
                    let shortTitle = data.items[0].snippet.title.substr(0, 25);

                    let obj = {
                        title: shortTitle,
                        deets: data.items[0]
                    }

                    socket.emit('videoList', obj);

                    console.log('Obj main: ', obj);
                });
            }
        });

        //credit: https://stackoverflow.com/a/8260383
        function youtube_parser(url) {
                let regExp = /^.*((youtu.be\/)|(v\/)|(\/u\/\w\/)|(embed\/)|(watch\?))\??v?=?([^#\&\?]*).*/;
                let match = url.match(regExp);
                return (match && match[7].length == 11) ? match[7] : false;
            }

        $('#line').click(e => {
            e.preventDefault();

            let os = $('#line').offset();
            
            let updateTime = (e.pageX - os.left) / 445 * player.getDuration();

            let obj = {
                state: 'play',
                time: updateTime
            };

            socket.emit('video', obj);

            console.log(updateTime);
        });

        //draggable
        $('#square').draggable({
            axis: 'x',
            containment: '#line',
            drag: e => {
                let offset = $('#square').offset();

                let updateTime = (e.pageX - offset.left) / 445 * player.getDuration();

                let obj = {
                    state: 'play',
                    time: updateTime
                };

                socket.emit('video', obj);

                console.log(`New time: `, updateTime);
            }
        });

        socket.on('video', obj => {
            if (obj.state === 'play') {
                console.log('Play button hit');
                console.log(`Time: ${player.getCurrentTime()}`);

                if (Math.abs(obj.time - player.getCurrentTime()) > 1) {
                    seekTo(obj.time);
                }

                playVideo();
            } else if (obj.state === 'pause') {
                console.log('Stop button hit');
                console.log(`Time: ${player.getCurrentTime()}`);
                stopVideo();
            }
        });

        socket.on('videoList', obj => {
            // console.log('Obj: ', obj);
            // let num = $('#movieList li').length - 1;
            // $('#movieList').append(`
            //     <li id="videoInfo${num}" class="list-group-item d-flex justify-content-between align-items-center">
            //         <input id="videoInfo" type="hidden" value="<%= obj.deets %>" />
            //         ${obj.title}
            //     </li>
            // `);
        });
    </script>
    <script src="js/chat.js"></script>
</body>

</html>